  table.dataTable thead th { position: relative;  }

  .filter-icon { cursor: pointer; margin-left: 6px;font-size: large;  }

  /* Dropdown */
  .filter-menu {
    display: none;
    position: absolute;
    top: 100%; left: 0;
    z-index: 200;
    background: #fff;
    border: 1px solid #ccc;
    padding: -1px 0 40px 10px;
    max-height: 300px;
    overflow-y: auto;
    width: 260px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  }

  /* ---------- Labels & Checkboxes ---------- */
.filter-menu label {
  /*display: block;
  margin: 3px 10px;
  font-size: 15px;
  cursor: pointer;*/

  display: block; 
    font-size: 15px;
    cursor: pointer;
    margin-top: 3px;
    margin-right: 10px;
    margin-bottom: 3px;
    margin-left: 5%;
    text-align: justify;
}

.year-block  label {
  display: block;
  margin-top: 3px; 
    margin-right: 10px;  
     margin-bottom: 3px; 
      margin-left:  0px;
  font-size: 15px;
  cursor: pointer;
}

.filter-menu input[type='checkbox'] {
  margin-right: 6px;
}

  .filter-search {
  width: 90%;
  margin: 2px 5% 8px 5%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  outline: none;
  font-size: 13px;
}
.filter-search:focus {
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0,123,255,0.3);
}

  /* Sticky Apply / Clear */
  .filter-actions {
    position: sticky;
    bottom: 0;
    background: #f8f8f8;
    padding: 6px;
    border-top: 1px solid #ccc;
    text-align: right;
  }
  .filter-actions button {
    margin-left: 6px;
    padding: 3px 8px;
    border: 1px solid #aaa;
     
    cursor: pointer;
    border-radius: 4px;
  }

  /* Tree Style */
  .tree-toggle { cursor: pointer; font-weight: bold; color: #007bff; margin-right: 6px; font-size: x-large; }
  .tree-line { display: flex; align-items: center; gap: 4px; }

  .month-list, .day-list { margin-left: 18px; }
  .day-list { margin-left: 32px; }
  .collapsed { display: none; }

  tfoot { background-color: #f3f3f3; font-weight: bold; }
  .year-block{ padding-left:10px; }

  /* ✅ Apply Button Style */
    .apply-btn {
      background-color: #0078d7;
      color: #fff;
      box-shadow: 0 2px 4px rgba(0, 120, 215, 0.3);
    }
    .apply-btn:hover {
      background-color: #0078d7;
      box-shadow: 0 3px 6px rgba(0, 120, 215, 0.4);
    }

    /* ❎ Clear Button Style */
    .clear-btn {
      display: none;
      background-color: #eaeaea;
      color: #333;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
    .clear-btn:hover {
      background-color: #d6d6d6;
      color: #000;
      box-shadow: 0 3px 6px rgba(0,0,0,0.15);
    }

    .filter-icon.filter-active {
    background-color: orange !important;
    border-color: orange !important;
    color: white !important;
    }
    